<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GOOGLE_CLIENT_ID_KEY</key>
	<string>385337200057-llirieko57v7l62fjp3mu5qas4q22ce1.apps.googleusercontent.com</string>
	<key>GOOGLE_CLIENT_SECRET_KEY</key>
	<string>LtQH6OJ39fdUYkmDEQBuU-jr</string>
</dict>
</plist>
